In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [14]:
df = DataFrame([['李名','wangpo','aaa'],['aaa','aaaabb','annimal']],columns = ['A','B','C'])

In [17]:
df.stack().unstack(level = 1)

     A       B        C
0   李名  wangpo      aaa
1  aaa  aaaabb  annimal

In [20]:
df['A'].str.contains('aa','李')

0    False
1     True
Name: A, dtype: bool

In [22]:
import re

In [26]:
pat = re.compile('(?:aa)|李')

In [28]:
mask = df['A'].str.contains(pat)

In [30]:
df[~mask]

Empty DataFrame
Columns: [A, B, C]
Index: []

In [2]:
df2 = DataFrame(np.arange(1,24,2).reshape(3,4),columns = ['a','b','c','d'])

In [3]:
df2

    a   b   c   d
0   1   3   5   7
1   9  11  13  15
2  17  19  21  23

In [6]:
df2.div(df2.sum(1),axis = 0)

        a         b         c       d
0  0.0625  0.187500  0.312500  0.4375
1  0.1875  0.229167  0.270833  0.3125
2  0.2125  0.237500  0.262500  0.2875