In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [14]:
df = DataFrame([['李名','wangpo','aaa'],['aaa','aaaabb','annimal']],columns = ['A','B','C'])

In [17]:
df.stack().unstack(level = 1)

     A       B        C
0   李名  wangpo      aaa
1  aaa  aaaabb  annimal

In [20]:
df['A'].str.contains('aa','李')

0    False
1     True
Name: A, dtype: bool

In [22]:
import re

In [26]:
pat = re.compile('(?:aa)|李')

In [28]:
mask = df['A'].str.contains(pat)

In [30]:
df[~mask]

Empty DataFrame
Columns: [A, B, C]
Index: []