In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import datetime
import sys

In [3]:
from numpy import NAN as NA

## 空数据的处理
> isnull,notnull,dropna,fillna

In [9]:
df = DataFrame(np.random.randn(7,5))
df.iloc[:4,2] = NA
df.iloc[:2,3] = NA

In [15]:
df.dropna(thresh = 4)
#thresh 每个记录有多少个非空数据的将被保留

          0         1         2         3         4
2  1.141357  0.071518       NaN -1.326844  0.416500
3 -0.014655  0.860510       NaN -0.145441  0.786654
4 -0.682085  1.116300  1.154451 -0.349158  1.188370
5 -1.128538 -0.484026  0.282386 -1.020579  0.967486
6 -0.815267  0.680332  1.608585  0.807249 -0.393887

## 数据转换
### 重复数据

>duplicated、drop_duplicates
>>参数keep->first,last

In [16]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
   ....:                      'k2': [1, 1, 2, 3, 3, 4, 4]})

In [17]:
data.drop_duplicates(['k1'])

    k1  k2
0  one   1
1  two   1

### 数据转换

In [18]:
data1 = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
   ....:                               'Pastrami', 'corned beef', 'Bacon',
   ....:                               'pastrami', 'honey ham', 'nova lox'],
   ....:                      'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [26]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [29]:
meat_to_animal2 = {
  'bacon': 'pig_clh',
  'pulled pork': 'pig_zj',
}

In [20]:
lowercase = data1['food'].str.lower()

In [30]:
def trans_annimal(x):
    if x not in meat_to_animal2:
        return x
    else:
        return meat_to_animal2[x.lower()]

In [32]:
data1['annimal'] = lowercase.map(trans_annimal)

In [33]:
data1

          food  ounces      annimal
0        bacon     4.0      pig_clh
1  pulled pork     3.0       pig_zj
2        bacon    12.0      pig_clh
3     Pastrami     6.0     pastrami
4  corned beef     7.5  corned beef
5        Bacon     8.0      pig_clh
6     pastrami     3.0     pastrami
7    honey ham     5.0    honey ham
8     nova lox     6.0     nova lox

In [ ]:
data1.