In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import datetime,time

* 时间戳（timestamp），特定的时刻。
* 固定时期（period），如2007年1月或2010年全年。
* 时间间隔（interval），由起始和结束时间戳表示。时期（period）可以被看做间隔（interval）的特例。
* 实验或过程时间，每个时间点都是相对于特定起始时间的一个度量。例如，从放入烤箱时起，每秒钟饼干的直径。

## 11.1 日期和时间数据类型及工具

In [4]:
now = datetime.datetime.now()

In [5]:
now

datetime.datetime(2018, 5, 8, 10, 30, 16, 342745)

In [7]:
date = datetime.date(2018,5,2)

In [8]:
date

datetime.date(2018, 5, 2)

In [13]:
date + datetime.timedelta(seconds = 2)

datetime.date(2018, 5, 2)

In [14]:
date.toordinal()

736816

In [16]:
datetime.datetime.timestamp(now)
#参数需要datetime对象

1525746616.342745

In [23]:
from datetime import datetime

In [18]:
stamp = datetime(2011, 1, 3)

In [19]:
str(stamp)

'2011-01-03 00:00:00'

In [25]:
time.localtime()

time.struct_time(tm_year=2018, tm_mon=5, tm_mday=8, tm_hour=10, tm_min=55, tm_sec=59, tm_wday=1, tm_yday=128, tm_isdst=0)

In [27]:
stamp.strftime('%Y年%m月%d日',time.localtime())

TypeError: strftime() takes at most 1 argument (2 given)

In [30]:
value = '2011-01-03'
datetime.datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [2]:
from dateutil.parser import parse

In [6]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

## 11.2 时间序列基础

In [28]:
In [39]: from datetime import datetime

In [40]: dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [41]: ts = pd.Series(np.random.randn(6), index=dates)

In [8]:
ts

2011-01-02   -0.463682
2011-01-05    0.331279
2011-01-07   -0.624859
2011-01-08    0.000126
2011-01-10    0.281395
2011-01-12    0.639002
dtype: float64

In [9]:
dates = pd.date_range('20110102',periods = 6,freq = 'D')

In [13]:
ts = DataFrame(np.arange(36).reshape(6,6),index = dates,columns = [x for x in 'ABCDEF'])

In [15]:
ts.index.name = 'date'
ts.columns.name = 'data'

In [21]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-03', '2011-01-04', '2011-01-05',
               '2011-01-06', '2011-01-07'],
              dtype='datetime64[ns]', name='date', freq='D')

### 索引、选取、子集构造

In [17]:
ts.index[0]

Timestamp('2011-01-02 00:00:00', freq='D')

In [24]:
ts['2011']

data         A   B   C   D   E   F
date
2011-01-02   0   1   2   3   4   5
2011-01-03   6   7   8   9  10  11
2011-01-04  12  13  14  15  16  17
2011-01-05  18  19  20  21  22  23
2011-01-06  24  25  26  27  28  29
2011-01-07  30  31  32  33  34  35

In [22]:
In [52]: longer_ts = pd.Series(np.random.randn(1000),
   ....:                       index=pd.date_range('1/1/2000', periods=1000))
longer_ts['2001']

2001-01-01   -2.049410
2001-01-02    0.583756
2001-01-03    0.527172
2001-01-04   -0.908836
2001-01-05   -1.037925
2001-01-06   -0.114270
2001-01-07   -0.382048
2001-01-08    0.409904
2001-01-09   -0.896560
2001-01-10   -1.509721
2001-01-11    0.483053
2001-01-12    0.740726
2001-01-13   -0.460863
2001-01-14    0.931432
2001-01-15   -0.901065
2001-01-16    1.746945
2001-01-17    0.795420
2001-01-18    0.047216
2001-01-19   -0.399363
2001-01-20   -0.463078
2001-01-21    1.463467
2001-01-22    0.450137
2001-01-23   -0.202199
2001-01-24   -1.471289
2001-01-25    0.528778
2001-01-26   -1.431124
2001-01-27   -0.364766
2001-01-28    1.321888
2001-01-29    1.058652
2001-01-30   -1.419404
                ...
2001-12-02   -0.990402
2001-12-03    0.694182
2001-12-04    2.179948
2001-12-05   -0.023006
2001-12-06   -0.230209
2001-12-07   -1.399051
2001-12-08    2.972477
2001-12-09   -1.189923
2001-12-10   -0.379611
2001-12-11   -0.304521
2001-12-12    1.129921
2001-12-13   -0.863295
2001-12-14   -0.724014
2001-12-15    0.691160
2001-12-16    0.178499
2001-12-17   -0.909764
2001-12-18    2.070924
2001-12-19    0.466354
2001-12-20   -0.213312
2001-12-21   -0.459162
2001-12-22    0.649616
2001-12-23   -0.780885
2001-12-24   -0.441375
2001-12-25    1.507064
2001-12-26   -0.182729
2001-12-27   -0.557196
2001-12-28    1.700078
2001-12-29   -1.043596
2001-12-30   -1.100551
2001-12-31   -0.323709
Freq: D, Length: 365, dtype: float64

In [25]:
longer_ts['2001-05']

2001-05-01   -1.844136
2001-05-02    0.756166
2001-05-03   -2.208708
2001-05-04    1.786925
2001-05-05   -0.792877
2001-05-06    0.445830
2001-05-07   -0.548791
2001-05-08    0.463966
2001-05-09    0.866375
2001-05-10    0.825576
2001-05-11    0.036883
2001-05-12   -1.009455
2001-05-13   -0.301873
2001-05-14   -0.883128
2001-05-15   -0.784824
2001-05-16    0.833483
2001-05-17    2.518729
2001-05-18    0.320785
2001-05-19    0.376419
2001-05-20    0.385208
2001-05-21    0.415438
2001-05-22    0.243439
2001-05-23    1.244970
2001-05-24   -0.373912
2001-05-25    0.511816
2001-05-26   -1.820672
2001-05-27    0.827117
2001-05-28    1.686321
2001-05-29    0.854042
2001-05-30    0.278086
2001-05-31   -0.952780
Freq: D, dtype: float64

In [26]:
ts.truncate(after='1/3/2011')

data        A  B  C  D   E   F
date
2011-01-02  0  1  2  3   4   5
2011-01-03  6  7  8  9  10  11

In [27]:
ts.loc['20110104']

data
A    12
B    13
C    14
D    15
E    16
F    17
Name: 2011-01-04 00:00:00, dtype: int32

## 11.3 日期的范围、频率以及移动

In [29]:
resampler = ts.resample('D')

In [30]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [31]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

## 频率和日期偏移量

In [32]:
from pandas.tseries.offsets import Hour, Minute

In [33]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [34]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 移动（超前和滞后）数据

In [35]:
ts = pd.Series(np.random.randn(4),
   ....:                index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [36]:
ts

2000-01-31   -0.875325
2000-02-29   -0.263264
2000-03-31    0.085865
2000-04-30   -0.725294
Freq: M, dtype: float64

In [40]:
ts.shift(1,freq = '3D')

2000-02-03   -0.875325
2000-03-03   -0.263264
2000-04-03    0.085865
2000-05-03   -0.725294
dtype: float64

In [41]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -0.699239
2000-03-31   -1.326155
2000-04-30   -9.446953
Freq: M, dtype: float64

In [42]:
from pandas.tseries.offsets import Day, MonthEnd

In [44]:
now = datetime.now()

In [45]:
offset = MonthEnd()

In [46]:
offset.rollback(now)

Timestamp('2018-04-30 16:42:20.422606')

In [47]:
offset.rollforward(now)

Timestamp('2018-05-31 16:42:20.422606')

In [48]:
In [106]: ts = pd.Series(np.random.randn(20),
   .....:                index=pd.date_range('1/15/2000', periods=20, freq='4d'))

#### 按照时间分组统计

In [50]:
ts.groupby(offset.rollback).mean()

1999-12-31   -0.144322
2000-01-31   -0.133542
2000-02-29    0.455330
2000-03-31    0.092466
dtype: float64

In [51]:
ts.resample('M').mean()

2000-01-31   -0.104351
2000-02-29   -0.160553
2000-03-31    0.409972
Freq: M, dtype: float64

## 11.4 时区处理
** tz_localize和tz_convert **

In [52]:
import pytz

In [54]:
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

## 11.5 时期及其算术运算

时期（period）表示的是时间区间，比如数日、数月、数季、数年等。Period类所表示的就是这种数据类型，其构造函数需要用到一个字符串或整数

In [55]:
p = pd.Period(2007, freq='A-DEC')

In [56]:
p

Period('2007', 'A-DEC')

In [57]:
 rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [58]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [60]:
In [157]: values = ['2001Q3', '2002Q2', '2003Q1']

In [158]: index = pd.PeriodIndex(values, freq='Q-DEC')

In [159]: index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [61]:
p = pd.Period('2007', freq='A-DEC')

In [64]:
p.asfreq('D',how = 'start')

Period('2007-01-01', 'D')

In [65]:
In [170]: rng = pd.period_range('2006', '2009', freq='A-DEC')

In [171]: ts = pd.Series(np.random.randn(len(rng)), index=rng)


In [173]: ts.asfreq('M', how='start')

2006-01   -0.474777
2007-01   -1.234992
2008-01   -1.117772
2009-01    3.136696
Freq: M, dtype: float64

In [66]:
#Period之间的算术运算会非常简单。例如，要获取该季度倒数第二个工作日下午4点的时间戳，你可以这样：
In [179]: p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [180]: p4pm

Period('2007-12-28 16:00', 'T')

### 将Timestamp转换为Period（及其反向过程）

In [67]:
In [188]: rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [189]: ts = pd.Series(np.random.randn(3), index=rng)

In [69]:
ts.to_period(freq = 'D')

2000-01-31    0.093867
2000-02-29   -0.478059
2000-03-31    2.634310
Freq: D, dtype: float64

## 11.6 重采样及频率转换

重采样（resampling）指的是将时间序列从一个频率转换到另一个频率的处理过程。将高频率数据聚合到低频率称为降采样（downsampling），而将低频率数据转换到高频率则称为升采样（upsampling）。并不是所有的重采样都能被划分到这两个大类中。例如，将W-WED（每周三）转换为W-FRI既不是降采样也不是升采样。