In [6]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import datetime
import os

In [4]:
!type "..\pydata-book\examples\ex1.csv"

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
%pwd

'e:\\jupyter\\pandas_zj'

In [8]:
ex_path = r'..\pydata-book\examples'

In [9]:
file1 = os.path.join(ex_path,'ex1.csv')

In [10]:
file1

'..\\pydata-book\\examples\\ex1.csv'

In [11]:
df1 = pd.read_csv(file1)

In [12]:
df1.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
df1 = pd.read_table(file1,sep = ',',names = [str(x) for x in 'abcde'],skiprows = 0)
#应该使用names参数而不是headers参数，headers参数仅接受数字

In [20]:
df1

   a   b   c   d        e
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [23]:
file3 = os.path.join(ex_path,'ex3.txt')

In [25]:
df3 = pd.read_table(file3,sep = '\s+')
#sep 可以借书证这表达式

In [26]:
df3

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [31]:
df5 = pd.read_csv(os.path.join(ex_path,'ex5.csv'),na_values = ['Null','two'])
#可用一个字典表达

In [32]:
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

#### chunksize参数
> 迭代

In [50]:
df6 = pd.read_csv(os.path.join(ex_path,'ex6.csv'),chunksize=1000)

df6

s1 = Series([])

for x in df6:
    s1 = s1.add(x['key'].value_counts(),fill_value=0)

s1.sort_values(ascending = True,inplace = True)

s1

### to_csv方法
> 是在Series、DataFrame实例中

In [56]:
import sys

In [58]:
df1.to_csv(sys.stdout,':')

:a:b:c:d:e
0:a:b:c:d:message
1:1:2:3:4:hello
2:5:6:7:8:world
3:9:10:11:12:foo

### 使用python中的csv模块

## JSON数据

In [59]:
import json

In [60]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

**通过loads、dumps方法在json和python对象之间相互转换**

In [61]:
result = json.loads(obj)

In [62]:
result['name']

'Wes'

In [64]:
result['siblings'][1]

{'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}

In [66]:
df3 = DataFrame(result['siblings'],columns = ['name','age','pets'])

In [67]:
df3

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

#### 使用pd.read_json()方法
>输出使用to_json(）方法

In [79]:
import html5lib
df_html = pd.read_html(os.path.join(ex_path,'fdic_failed_bank_list.html'),flavor = 'bs4')

ImportError: html5lib not found, please install it

In [75]:
!pip list

appdirs (1.4.0)
attrs (16.3.0)
Automat (0.5.0)
beautifulsoup4 (4.5.3)
bs4 (0.0.1)
cffi (1.9.1)
colorama (0.3.7)
constantly (15.1.0)
cryptography (1.7.2)
cssselect (1.0.1)
cycler (0.10.0)
decorator (4.0.10)
entrypoints (0.2.2)
html5lib (1.0.1)
idna (2.2)
incremental (16.10.1)
ipykernel (4.5.1)
ipython (5.1.0)
ipython-genutils (0.1.0)
ipywidgets (5.2.2)
Jinja2 (2.8)
jsonschema (2.5.1)
jupyter (1.0.0)
jupyter-client (4.4.0)
jupyter-console (5.0.0)
jupyter-core (4.2.0)
kiwisolver (1.0.1)
lxml (3.6.4)
MarkupSafe (0.23)
matplotlib (2.2.2)
mistune (0.7.3)
nbconvert (4.2.0)
nbformat (4.1.0)
notebook (4.2.3)
numpy (1.12.1)
packaging (16.8)
pandas (0.20.1)
parsel (1.1.0)
pickleshare (0.7.4)
pip (9.0.1)
prompt-toolkit (1.0.9)
pyasn1 (0.2.2)
pycparser (2.17)
Pygments (2.1.3)
pyOpenSSL (16.2.0)
pyparsing (2.1.10)
pypiwin32 (219)
python-dateutil (2.6.0)
pytz (2017.2)
pyzmq (16.0.2)
qtconsole (4.2.1)
requests (2.13.0)
setuptools (34.2.0)
simplegeneric (0.8.1)
six (1.10.0)
tornado (4.4.2)
traitlets (4.3.1)
w3lib (1.17.0)
wcwidth (0.1.7)
webencodings (0.5.1)
wheel (0.29.0)
widgetsnbextension (1.2.6)
win-unicode-console (0.5)
zope.interface (4.3.3)

DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.